{% extends "DemoBundle::base.html.twig" %}

{% block body %}

<div class="container">
    <ol class="breadcrumb">
        <li><a href="{{ path('laureate.index') }}">Home</a></li>
        <li><a href="#">{{ category['rdfs:label'].value }}</a></li>
    </ol>
    <h1>List of laureates for category {{ category['rdfs:label'].value }}</h1>
    <div class="container">
        <ul class="nav nav-pills pull-right">
            <li role="presentation" class="active"><a href="{{ path( 'laureate.create', {category: category }) }}">add one</a></li>
        </ul>
    </div>
    <br />
    <div class="list-group">
    {% for laureateaward in laureates %}
        <div class="list-group-item">
            <h4 class="list-group-item-heading">{% if laureateaward['rdfs:label'] is defined %}{{ laureateaward['rdfs:label'].value }}{% else %} ??? {% endif %}</h4>
            <a class="btn btn-primary btn-sm" href="{{ path('laureate.view', {uri: laureateaward }) }}">See more</a>
            <a class="btn btn-primary btn-sm" href="{{ path('laureate.edit', {uri: laureateaward}) }}">Edit</a>
        </div>
    {% endfor %}
    </div>
    <nav>
        <ul class="pagination">
            <li {% if page == 1 %} class="disabled"{% endif %}>
                <a href="{{ path('laureate.category', {category: category, page: 1}) }}" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>

            {% set windowStart = max(1, page-2)%}
            {% set windowEnd = windowStart + 4%}

            {% if windowStart > 1 %}
                <li><a href="{{ path('laureate.category', {category: category, page: windowStart -1}) }}">...</a></li>
            {% endif %}
            {% for counter in windowStart..windowEnd %}
                {% if counter <= lastpage and counter >=1  %}
                    <li {% if (counter == page) %} class="active"{% endif %}><a href="{{ path('laureate.category', {category: category, page: counter}) }}">{{ counter }}</a></li>
                {% endif %}
            {% endfor %}
            {% if windowEnd < lastpage %}
                <li><a href="{{ path('laureate.category', {category: category, page: windowEnd+1}) }}">...</a></li>
            {% endif %}
            <li {% if page == lastpage %} class="disabled"{% endif %}>
                <a href="{{ path('laureate.category', {category: category, page: lastpage}) }}" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        </ul>
    </nav>
</div>
{% endblock %}