{% extends "DemoBundle::base.html.twig" %}

{% block body %}

<div class="container">
    <ol class="breadcrumb">
        <li><a href="#">Home</a></li>

    </ol>
    <h1>Nobel prizes</h1>
    <a class="btn btn-primary pull-right" href="{{ path( 'laureate.create') }}">add one</a>
    <h2>By year</h2>
    {% for year in years %}
        <a href="{{ path('laureate.year', {year: year.year}) }}" class="btn btn-default btn-sm">{{ year.year }}</a>
    {% endfor %}

    <h2>By category</h2>
    {% for category in categories %}
        <a href="{{ path('laureate.category', {category: category}) }}" class="btn btn-default btn-sm">{{ category['rdfs:label'] }}</a>
    {% endfor %}


</div>
{% endblock %}