{% extends "DemoBundle::base.html.twig" %}

{% block body %}
<div class="container">
    <h1>Award details</h1>
    <h2>Award</h2>
    <dl class="dl-horizontal">
        {# dump(attribute(award['terms:category'], 'get', ['rdfs:label'])) #}
        <dt>Category</dt>
        <dd>{{ attribute(award['terms:category'], 'get', ['rdfs:label']) }}</dd>
    </dl>
    {% if (award['terms:motivation'] is defined) %}
    <dl class="dl-horizontal">
        <dt>Motivation</dt>
        <dd>{{ award['terms:motivation'].value }}</dd>
    </dl>
    {% endif %}
    <dl class="dl-horizontal">
        <dt>Field</dt>
        <dd>{{ award['terms:field'] }}</dd>
    </dl>
    <h2>Laureate</h2>
    <dl class="dl-horizontal">
        <dt>Name</dt>
        <dd>{{ laureate['rdfs:label'].value }}</dd>
    </dl>
    <dl class="dl-horizontal">
        <dt>Birth</dt>
        <dd>{{ laureate['foaf:birthday'].value|date('Y/m/d') }} {% if(places.birth is defined) %}({{ attribute(places.birth, 'get', ['rdfs:label']).value }}){% endif %}</dd>
    </dl>
    {% if(laureate['dbpprop:dateOfDeath'] is defined) %}
    <dl class="dl-horizontal">
        <dt>Death</dt>
        <dd>{{ laureate['dbpprop:dateOfDeath'].value|date('Y/m/d') }}{% if(places.death is defined) %}({{ attribute(places.death, 'get', ['rdfs:label']).value }}){% endif %}</dd>
    </dl>
    {% endif %}
</div>
{% endblock %}